@tailwind base;
@tailwind components;
@tailwind utilities;



p,h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

#tentang{
    background-color: #000000;
    
    min-height: 100vh;
    color: white;
}

#tentang p{
    font-size: large;
}

#edukasi{
    background-color: #F5C94E;
    min-height: 100vh;
}

#pengalaman{
    background-color: #FFFFFF;
    min-height: 100vh;
}

#kontak{

    background-color: white;
    min-height: 100vh;
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#foto-pp:hover{
    transform: scale(1.15);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

